*
    margin: 0
    padding: 0
    box-sizing: border-box

body,
span,
h1,
h2,
h3,
h4,
h5,
p,
a
    font-size: var(--font-size)
    font-family: "Roboto", sans-serif
    font-weight: 400
    color: var(--font-color)
    text-decoration: none

li,
ul
    list-style: none

input,
button,
textarea,
select
    font: inherit

img,
picture
    display: block
    max-width: 100%

button
    border: none

