@use '../abstracts' as *

.button
    @include animate

    display: flex
    justify-content: center
    align-items: center

    font-weight: 600
    color: $button-color

    border-radius: 7px
    cursor: pointer

.blue-button
    @extend .button
    background: $blue-button-background
    &:hover
        color: $button-color-hover
        background: $blue-button-background-hover

.red-button
    @extend .button
    background: $red-button-background
    &:hover
        color: $button-color-hover
        background: $red-button-background-hover

.ico-button
    @extend .button
