@use "./../abstracts/mixins" as *

.form-box
    form
        @include flex($direction: column, $gap: 15px)
        .errors-box
            background: #ff4747
            border-radius: 7px
            @include list
            li
                max-width: 450px
                padding: 0 10px
                color: #6d0000
                font-weight: bold
        label
            @include flex($direction: column, $gap: 5px)
            min-width: 400px
            span
                font-style: italic
                font-size: .9rem
                color: #333
                font-weight: bold
                padding-left: 5px
            input, select, textarea
                width: 100%
    &.center
        width: 100vw
        height: calc(100vh - 50px)
        @include flex($justy: center, $align: center)

        form
            padding: 20px
            border-radius: 7px
            box-shadow: 4px 4px 8px 12px #ddd
