@use "./../abstracts" as *

header
    @include flex($justy:space-between)
    @include content-box
    width: 100%
    height: $header-height
    background: $header-background
    align-items: center
    .nav-list
        @include flex()
    a
        font-weight: bold
        text-transform: uppercase
