// ###  Palette
// ##################################################
$palette-background-first: #363170
$palette-background-second: #6e719c
$palette-background-third: #437ad3

$palette-color-first: #fda051
$palette-color-second: #f4d882
$palette-color-third: #e2d8c2

$palette-dark-first: #140b22
$palette-dark-second: #58698a
$palette-dark-third: #58698a

$palette-light-first: #d3d7e7
$palette-light-second: #99b3c6
$palette-light-third: #99b3c6

// ###  Color
// ##################################################
$link-color: $palette-color-first
$link-color-hover: $palette-color-second

// ###  Background
// ##################################################
$header-background: $palette-background-first

$blue-button-background: $palette-background-first
$blue-button-background-hover: $palette-background-second
